<div *ngIf="loading">Loading...</div>

<div *ngIf="error" class="error">
  {{ error }}
</div>

<div *ngIf="order && !loading && !error">
  <h2>Dettagli Ordine</h2>
  <mat-list role="list">
    <mat-list-item role="listitem">ID: {{ order.id }}</mat-list-item>
    <mat-list-item role="listitem">Nome Cliente: {{ order.customerName }}</mat-list-item>
    <mat-list-item role="listitem">Data Ordine: {{ order.orderDate }}</mat-list-item>
    <mat-list-item role="listitem">Descrizione: {{ order.description }}</mat-list-item>
  </mat-list>

  <h3>Prodotti:</h3>
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let orderProduct of order.orderProducts">
      {{ orderProduct.product.name }} - Quantità: {{ orderProduct.quantity }}
    </mat-list-item>
  </mat-list>

  <div>
    <button mat-raised-button color="primary" (click)="editOrder(order.id)">
      <mat-icon>edit</mat-icon> Modifica
    </button>
    <button mat-raised-button color="warn" (click)="deleteOrder(order)">
      <mat-icon>delete</mat-icon> Elimina
    </button>
    <button mat-raised-button (click)="goBack()">Indietro</button>
  </div>
</div>

